body {
    font-family: 'quicksand', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

.mainImg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -50%;
    right: -50%;
    margin: auto;
}

h1 {
    font-family: bree serif;
    text-align: center;
    color: #EB6A24;
    font-size: 50px;
    background-color: #393A36;
    padding-bottom: 15px;
    margin-top: 0;
}

form {
    background-color: rgba(57,58,55,0.8);
    width: 355px;
    border-radius: 10px;
    padding: 25px;
    margin: auto;
    top: 50px;
    position: relative;

    input, select {
        display: block;
        margin-top: 12px;
        margin-bottom: 5px;
        height: 30px;
        border-radius: 5px;
        font-size: 18px;
        padding-left: 8px;
        background-color: #EEEEEE;
        text-align: left;
        border: none;
    }

    #js-city {
        width: 50%;
    }

    #js-budget {
        width: 20%;
    }

    label {
        color: #eee;
        font-size: 25px;
        letter-spacing: .7px;
    }

    #submitButton {
        width: 120px;
        height: 50px;
        border-radius: 5px;
        border: none;
        margin: auto;
        display: block;
        background-color: #EB6A24;
        font-size: 20px;
        font-weight: 700;
        font-family: bree serif;
        color: darken(#393A36, 5%);

        &:hover {
            background-color: lighten(#EB6A24, 7%);
            cursor: pointer;
        }
    }
}

.error-message {
    color: red
}

// accordion 
#results {
    position: relative;
    top: 113px;

    li {
        list-style: none;

        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100vw;
            text-align: left; 
            border: none;
            outline: none;
            transition: 0.4s;
            font-size: 20px;
            line-height: 1.5;
            font-family: quicksand;
            border-bottom: .5px solid #EB6A24;

            &:hover {
                background-color: #ccc;
            }

            .fa-star {
                font-size: 15px;
                color: #EB6A24;
                margin-left: 8px;
                bottom: 2px;
                right: -3px;
                position: relative;
            }

            .rating {
                font-weight: 100;
            }

            .accordionLinks {
                display: none;
            }
            
            .fa-plus {
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s, opacity 0.4s linear;
            }

            &:hover {
                .fa-plus {
                    display: block;
                    float: right;
                    color: #EB6A24;
                    margin-top: -8.4px;
                    visibility: visible;
                    opacity: 1;
                }
            }
            
            .cuisine {
                color: #EB6A24;
                font-size: 19px;
                top: 10px;
                font-family: Josefin Slab;
            }
        }
 

        .panel {
            background-color: #ccc;
            overflow: hidden;

            #featuredImg {
                width: 250px;
                display: inline-block;
                position: relative;
                float: left;
            }

            .panelLinks {
                //display: inline-block;
                padding-left: 40px;
                top: 40px;
                margin: auto;
                position: relative;
                

                a {
                    display: inline-block;
                    text-decoration: none;
                    position: relative;
                    padding: 15px;
                    border: 1px solid #393A36;
                    border-radius: 8px;
                    margin-bottom: 50px;
                    font-family: bree serif;
                    color: #393A36;
                    background-color: #eee;

                    &:hover {
                        background-color: #EB6A24;
                        color: #eee;
                        transition: .1s ease-in;
                        border: none;
                    }
                }

                #webLink {
                    margin-right: 20px;
                    margin-left: 30px;
                }
            }

            .restInfo {
                
                p {
                    display: block;
                    clear: left;
                    text-align: center;
                }

                .address {
                    font-family: Josefin Slab;
                    font-size: 23px;
                    position: relative;
                    bottom: -14px;
                }

                .cost {
                    color: #EB6A24;
                    position: relative;
                    background-color: #393A36;
                    font-family: quicksand;
                    font-size: 18px;
                    margin-bottom: 0;
                    padding: 9px;

                    span {
                        font-family: sacramento;
                        padding-left: 6px;
                    }
                }
            }
        }

        .hidden {
            display: none;
        }
    }
}

// tablet
@media screen and (min-width: 768px) {
    #results li  {
        
        .accordion {
            &:hover {
                .fa-plus {
                display: none;
                }
            }

            .accordionLinks {
                display: inline-block;
                position: relative;
                float: right;
                top: -15px;
                
                a {
                    text-decoration: none;
                    padding: 15px;
                    border: 1px solid #393A36;
                    border-radius: 8px;
                    font-family: bree serif;
                    color: #393A36;
                    font-size: 15px;
                    background-color: #eee;

                    &:hover {
                        background-color: #EB6A24;
                        color: #eee;
                        transition: .1s ease-in;
                        border: none;
                    }
                }
                #webLinkTablet {
                    margin-right: 10px;
                }
            }
        }
        .panel {

            .panelLinks {
                a {
                    display: none;
                }
            }

            .restInfo {
                position: relative;
                display: inline-block;
                float: right;
                right: 0;

                p {
                    text-align: right;
                    padding-right: 20px;
                }

                .cost {
                    background-color: rgba(0,0,0,0);
                    padding-right: 20px;
                    color: darken(#EB6A24, 15%);
                }
            }
        }
    }
}
// desktop
@media screen and (min-width: 1025px) {
    .container {

        .mainImg {
            top: 150px;
        }

        h1 {
            text-align: right;
            padding: 75px 25px 95px 0;
        }

        form {
            background-color: rgba(0,0,0,0);
            width: 570px;
            padding: 20px 0 10px 30px;
            top: 0;
            position: absolute;
        
            input, select {
                display: inline-block;
                margin-left: 15px;
                margin-bottom: 20px;
            }
        
            #js-city {
                width: 240px;
            }
        
            #js-budget {
                width: 60px;
            }
            
            .dropdown {
                display: block;
                width: 350px;
                margin-top: 10px;

                label {
                    display: block;
                    clear: right;
                }

                #js-cuisineList {
                    display: inline-block;
                    float: right;
                    position: relative;
                    top: -62px;
                }
            }

            #submitButton {
                margin-left: 0;
                position: relative;
                top: -5px;
            }
        }

        #results {
            position: relative;
            top: 420px;
        }
    }
}
