.hidden {
    display: none;
}

html {
background-color: rgba(199, 118, 156, 0.973);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
margin: 15px;
padding: 10px;
}

form {
width: 40%;
border: solid 1px black;
padding: 15px;
margin-bottom: 10px;
}

input {
display: block;
margin-top: 20px;
margin-bottom: 20px;
width: 70%;
}


#submitButton {
width: 75px;
border: 1px solid black;
}


.error-message {
color: red
}


#featuredImg {
    width: 20%;
    display: block;
    padding-bottom: 10px;
    paddint-top: 20px;
}

li {
    list-style: none;
}
