body {
  font-family: 'quicksand', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

.mainImg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -50%;
  right: -50%;
  margin: auto;
}

h1 {
  font-family: bree serif;
  text-align: center;
  color: #EB6A24;
  font-size: 50px;
  background-color: #393A36;
  padding-bottom: 15px;
  margin-top: 0;
}

form {
  background-color: rgba(57, 58, 55, 0.8);
  width: 355px;
  border-radius: 10px;
  padding: 25px;
  margin: auto;
  top: 50px;
  position: relative;
}

form input, form select {
  display: block;
  margin-top: 12px;
  margin-bottom: 5px;
  height: 30px;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 8px;
  background-color: #EEEEEE;
  text-align: left;
  border: none;
}

form #js-city {
  width: 50%;
}

form #js-budget {
  width: 20%;
}

form label {
  color: #eee;
  font-size: 25px;
  letter-spacing: .7px;
}

form #submitButton {
  width: 120px;
  height: 50px;
  border-radius: 5px;
  border: none;
  margin: auto;
  display: block;
  background-color: #EB6A24;
  font-size: 20px;
  font-weight: 700;
  font-family: bree serif;
  color: #2c2d2a;
}

form #submitButton:hover {
  background-color: #ee8045;
  cursor: pointer;
}

.error-message {
  color: red;
}

#results {
  position: relative;
  top: 113px;
}

#results li {
  list-style: none;
}

#results li .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100vw;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 20px;
  line-height: 1.5;
  font-family: quicksand;
  border-bottom: .5px solid #EB6A24;
}

#results li .accordion:hover {
  background-color: #ccc;
}

#results li .accordion .fa-star {
  font-size: 15px;
  color: #EB6A24;
  margin-left: 8px;
  bottom: 2px;
  right: -3px;
  position: relative;
}

#results li .accordion .rating {
  font-weight: 100;
}

#results li .accordion .accordionLinks {
  display: none;
}

#results li .accordion .fa-plus {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.4s linear;
  transition: visibility 0s, opacity 0.4s linear;
}

#results li .accordion:hover .fa-plus {
  display: block;
  float: right;
  color: #EB6A24;
  margin-top: -8.4px;
  visibility: visible;
  opacity: 1;
}

#results li .accordion .cuisine {
  color: #EB6A24;
  font-size: 19px;
  top: 10px;
  font-family: Josefin Slab;
}

#results li .panel {
  background-color: #ccc;
  overflow: hidden;
}

#results li .panel #featuredImg {
  width: 250px;
  display: inline-block;
  position: relative;
  float: left;
}

#results li .panel .panelLinks {
  padding-left: 40px;
  top: 40px;
  margin: auto;
  position: relative;
}

#results li .panel .panelLinks a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  padding: 15px;
  border: 1px solid #393A36;
  border-radius: 8px;
  margin-bottom: 50px;
  font-family: bree serif;
  color: #393A36;
  background-color: #eee;
}

#results li .panel .panelLinks a:hover {
  background-color: #EB6A24;
  color: #eee;
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
  border: none;
}

#results li .panel .panelLinks #webLink {
  margin-right: 20px;
  margin-left: 30px;
}

#results li .panel .restInfo p {
  display: block;
  clear: left;
  text-align: center;
}

#results li .panel .restInfo .address {
  font-family: Josefin Slab;
  font-size: 23px;
  position: relative;
  bottom: -14px;
}

#results li .panel .restInfo .cost {
  color: #EB6A24;
  position: relative;
  background-color: #393A36;
  font-family: quicksand;
  font-size: 18px;
  margin-bottom: 0;
  padding: 9px;
}

#results li .panel .restInfo .cost span {
  font-family: sacramento;
  padding-left: 6px;
}

#results li .hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  #results li .accordion:hover .fa-plus {
    display: none;
  }
  #results li .accordion .accordionLinks {
    display: inline-block;
    position: relative;
    float: right;
    top: -15px;
  }
  #results li .accordion .accordionLinks a {
    text-decoration: none;
    padding: 15px;
    border: 1px solid #393A36;
    border-radius: 8px;
    font-family: bree serif;
    color: #393A36;
    font-size: 15px;
    background-color: #eee;
  }
  #results li .accordion .accordionLinks a:hover {
    background-color: #EB6A24;
    color: #eee;
    -webkit-transition: .1s ease-in;
    transition: .1s ease-in;
    border: none;
  }
  #results li .accordion .accordionLinks #webLinkTablet {
    margin-right: 10px;
  }
  #results li .panel .panelLinks a {
    display: none;
  }
  #results li .panel .restInfo {
    position: relative;
    display: inline-block;
    float: right;
    right: 0;
  }
  #results li .panel .restInfo p {
    text-align: right;
    padding-right: 20px;
  }
  #results li .panel .restInfo .cost {
    background-color: rgba(0, 0, 0, 0);
    padding-right: 20px;
    color: #b24910;
  }
}

@media screen and (min-width: 1025px) {
  .container .mainImg {
    top: 150px;
  }
  .container h1 {
    text-align: right;
    padding: 75px 25px 95px 0;
  }
  .container form {
    background-color: rgba(0, 0, 0, 0);
    width: 570px;
    padding: 20px 0 10px 30px;
    top: 0;
    position: absolute;
  }
  .container form input, .container form select {
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 20px;
  }
  .container form #js-city {
    width: 240px;
    margin-left: 8px;
  }
  .container form #js-budget {
    width: 60px;
    margin-left: 8px;
  }
  .container form .dropdown {
    display: block;
    width: 350px;
    margin-top: 10px;
  }
  .container form .dropdown label {
    display: block;
    clear: right;
  }
  .container form .dropdown #js-cuisineList {
    display: inline-block;
    float: right;
    position: relative;
    top: -62px;
  }
  .container form #submitButton {
    margin-left: 0;
    position: relative;
    top: -5px;
  }
  .container #results {
    position: relative;
    top: 420px;
  }
}
/*# sourceMappingURL=style.css.map */